# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build

# Testing
coverage
*.lcov

# Production
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local

# Editor
.vscode
.idea
*.swp
*.swo
*~

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
